<% layout('layouts/boilerplate') %>

<!-- insert the following code to the boilerplate using Ejs-mate -->
<div class="row">
    <h1 class="text-center">Edit University</h1>
    <div class="col-md-6 offset-md-3">
        <form class="needs-validation" action="/universities/<%= uni._id %>?_method=PUT" method="POST" novalidate
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <!-- [] is to group things together when sending a post request -->
                <input class="form-control" type="text" name="university[name]" id="name" value="<%= uni.name %>"
                    required>
                <div class="valid-feedback">Looks good!</div>

            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="university[location]" id="location"
                    value="<%= uni.location %> " required>
                <div class="valid-feedback">Looks good!</div>

            </div>
            <div class="mb-3">
                <label for="tuition" class="form-label">Tuition</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="tuition" placeholder="0" aria-label="price"
                        aria-describedby="price-label" name="university[tuition]" value="<%= uni.tuition %> " required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="university[description]" id="description"
                    required><%= uni.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <% uni.images.forEach(function(img, i) { %>
                <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    <label for="image-<%= i %>">Delete</label>
                </div>
                <% }) %>
            </div>
            <div class="mb-3">
                <Button class="btn btn-info">Update University</Button>
            </div>
        </form>

        <a href="/universities/<%= uni._id %> ">Back</a>
    </div>
</div>